.list-item[data-completed='true'] {
  // display: none;
  // text-decoration: line-through;
}

.list-item[data-completed='true'] .complete-btn {
  background-image: var(--clr-primary-gradient);
  border: none;
}

// remove pseudo element on hover
.list-item[data-completed='true'] .complete-btn:hover::after {
  content: none;
}

.list-item[data-active='false'] {
  display: none;
}

// .list-item[data-filter='all'] {
//   display: flex;
// }
